# =========================================================
# TaskFlow development environment
# =========================================================

DJANGO_SETTINGS_MODULE=config.settings.development

# Optional local hosts
DEV_ALLOWED_HOSTS=

# ---------------------------------------------------------
# Redis
# ---------------------------------------------------------

DEV_USE_REDIS=False

REDIS_URL=redis://127.0.0.1:6379/1

ENABLE_REDISBOARD=False