# =========================================================
# TaskFlow Docker environment
# =========================================================

DJANGO_SETTINGS_MODULE=config.settings.docker


# ---------------------------------------------------------
# Django
# ---------------------------------------------------------

SECRET_KEY=django-insecure-taskflow-docker-local-only

ALLOWED_HOSTS=localhost,127.0.0.1

CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000


# ---------------------------------------------------------
# Docker HTTP port
# ---------------------------------------------------------

APP_PORT=8000


# ---------------------------------------------------------
# PostgreSQL
# ---------------------------------------------------------

DB_NAME=taskflow
DB_USER=taskflow
DB_PASSWORD=taskflow

DB_HOST=db
DB_PORT=5432

DB_CONN_MAX_AGE=60


# ---------------------------------------------------------
# Redis
# ---------------------------------------------------------

REDIS_URL=redis://redis:6379/1

CACHE_KEY_PREFIX=taskflow-docker

CACHE_TIMEOUT=300


# ---------------------------------------------------------
# Dashboard application cache
# ---------------------------------------------------------

DASHBOARD_CACHE_ENABLED=True

DASHBOARD_SUMMARY_CACHE_TTL=60

DASHBOARD_PROGRESS_CACHE_TTL=300

DASHBOARD_CACHE_LOCK_TTL=5

DASHBOARD_CACHE_WAIT_ATTEMPTS=4

DASHBOARD_CACHE_WAIT_INTERVAL=0.02


# ---------------------------------------------------------
# Gunicorn
# ---------------------------------------------------------

GUNICORN_BIND=0.0.0.0:8000

GUNICORN_WORKERS=2

GUNICORN_TIMEOUT=30

GUNICORN_GRACEFUL_TIMEOUT=30

GUNICORN_KEEPALIVE=5

GUNICORN_MAX_REQUESTS=1000

GUNICORN_MAX_REQUESTS_JITTER=100

GUNICORN_LOG_LEVEL=info

GUNICORN_FORWARDED_ALLOW_IPS=*