{% extends 'accounts/accounts_base.html' %}
{% block title %}درخواست ثبت شد{% endblock title %}
{% block auth_view %}status{% endblock auth_view %}
{% block content %}
  <div class="auth-status auth-status--success">
    <div class="auth-status__rings" aria-hidden="true"><span></span><span></span><span></span></div>
    <span class="auth-status__icon"><svg class="tf-icon"><use href="#icon-mail"></use></svg></span>
    <span class="auth-kicker">TaskFlow Security</span>
    <h2>درخواست ثبت شد</h2>
    <p>اگر حسابی با این ایمیل وجود داشته باشد، لینک بازیابی برای آن ارسال شده است.</p>
    <a class="auth-submit auth-submit--link" href="{% url 'accounts:login' %}"><span>بازگشت به ورود</span><svg class="tf-icon"><use href="#icon-arrow-left"></use></svg></a>
    <a class="auth-status__secondary" href="{% url 'landing' %}">بازگشت به صفحه اصلی</a>
  </div>
{% endblock content %}
