{% extends "base.html" %}

{% block data_page %}profile{% endblock %}

{% block title %}TaskFlow | Change Password{% endblock title %}


{% block content %}
<section class="page-head">
  <div>
    <span class="badge badge-primary eyebrow">TaskFlow</span>
    <h1 class="page-title">تغییر رمز</h1>
  </div>

</section>

<section class="form-card">
  <h2 style="margin:0 0 14px">تغییر رمز عبور</h2>
  <form class="form-grid" method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="form-errors">
        {% for error in form.non_field_errors %}
            <p class="error-text">{{ error }}</p>
        {% endfor %}
        </div>
    {% endif %}

<div class="field">
  <div class="label-row"><label for="{{ form.old_password.id_for_label }}">رمز فعلی</label></div>
  <input
    class="input"
    type="password"
    placeholder="••••••••"
    autocomplete="current-password"
    name="{{ form.old_password.html_name }}"
    id="{{ form.old_password.id_for_label }}"
    required
  />

  {% for error in form.old_password.errors %}
    <p class="error-text">{{ error }}</p>
  {% endfor %}
</div>

<div class="grid-2">
    <div class="field">
        <div class="label-row"><label for="{{ form.new_password1.id_for_label }}">رمز جدید</label></div>
        <input
            class="input"
            placeholder="••••••••"
            autocomplete="false"
            type="password"
            name="{{ form.new_password1.html_name }}"
            id="{{ form.new_password1.id_for_label }}"
            required
        />

        {% if form.new_password1.help_text %}
            <small class="help">{{ form.new_password1.help_text|safe }}</small>
        {% endif %}

        {% for error in form.new_password1.errors %}
            <p class="error-text">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="field">
        <div class="label-row"><label for="{{ form.new_password2.id_for_label }}">رمز جدید</label></div>
        <input
            class="input"
            placeholder="••••••••"
            autocomplete="false"
            type="password"
            name="{{ form.new_password2.html_name }}"
            id="{{ form.new_password2.id_for_label }}"
            required
        />

        {% if form.new_password2.help_text %}
            <small class="help">{{ form.new_password2.help_text|safe }}</small>
        {% endif %}

        {% for error in form.new_password2.errors %}
            <p class="error-text">{{ error }}</p>
        {% endfor %}
    </div>
</div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit" data-toast="تغییر رمز انجام شد">تغییر رمز</button>
      <a class="btn btn-ghost" href="{% url "dashboard:profile" %}">انصراف</a>
    </div>
  </form>
</section>

{% endblock content %}