{% extends "base.html" %}

{% block data_page %}workspaces{% endblock data_page %}

{% block title %}
  TaskFlow | جابه‌جایی {{ task.title }}
{% endblock title %}

{% block content %}
<section class="form-card">
  <span class="badge badge-info">
    جابه‌جایی کار
  </span>

  <h1 class="page-title">
    جابه‌جایی «{{ task.title }}»
  </h1>

  <p class="page-subtitle">
    ستون فعلی:
    «{{ column.title }}»
  </p>

  <form
    method="post"
    class="form-grid"
    novalidate
  >
    {% csrf_token %}

    <div class="field">
      <label for="{{ form.target_column.id_for_label }}">
        ستون مقصد
      </label>

      {{ form.target_column }}

      {% for error in form.target_column.errors %}
        <p class="error-text">
          {{ error }}
        </p>
      {% endfor %}
    </div>

    <div class="form-actions">
      <button
        class="btn btn-primary"
        type="submit"
      >
        جابه‌جایی کار
      </button>

      <a
        class="btn btn-ghost"
        href="{% url 'tasks:detail' workspace.pk board.pk column.pk task.pk %}"
      >
        انصراف
      </a>
    </div>
  </form>
</section>
{% endblock content %}
