{% extends "base.html" %}

{% block data_page %}
  workspaces
{% endblock data_page %}

{% block title %}
  TaskFlow | ساخت Task
{% endblock title %}

{% block content %}
<section
  class="page-head page-head--animated"
  data-reveal
>
  <div>
    <span class="badge badge-primary eyebrow">
      <svg class="tf-icon">
        <use href="#icon-check"></use>
      </svg>

      Task جدید
    </span>

    <h1 class="page-title">
    ویرایش «{{ task.title }}»
    </h1>

    <p class="page-subtitle">
      Task جدید داخل ستون
      «{{ column.title }}»
      ساخته می‌شود.
    </p>
  </div>
</section>

<div class="workspace-form-layout">
  <section
    class="form-card animated-border"
    data-tilt-surface
    data-reveal
  >
    <form
      class="form-grid"
      method="post"
      novalidate
    >
      {% csrf_token %}

      {% include "tasks/includes/_form.html" %}

      <div
        class="form-actions"
        data-reveal
      >
        <button
        class="btn btn-primary"
        type="submit"
        >
        ذخیره تغییرات
        </button>

        <a
        class="btn btn-ghost"
        href="{% url 'tasks:detail' workspace.pk board.pk column.pk task.pk %}"
        >
        انصراف
        </a>
      </div>
    </form>
  </section>

  <aside
    class="workspace-form-note panel"
    data-reveal
  >
    <div class="page-head__icon">
      <svg class="tf-icon">
        <use href="#icon-columns"></use>
      </svg>
    </div>

    <span class="badge badge-info">
      داخل ستون
    </span>

    <h2 class="card-title">
      {{ column.title }}
    </h2>

    <p class="card-text">
      Task جدید در انتهای Taskهای فعال
      این ستون قرار می‌گیرد.
    </p>

    <div class="info-list">
      <div class="info-row">
        <span>Workspace</span>

        <strong>
          {{ workspace.name }}
        </strong>
      </div>

      <div class="info-row">
        <span>Board</span>

        <strong>
          {{ board.title }}
        </strong>
      </div>

      <div class="info-row">
        <span>جایگاه</span>

        <strong>
          {{ next_position|add:"1" }}
        </strong>
      </div>

      <div class="info-row">
        <span>وضعیت اولیه</span>

        <strong>
          برای انجام
        </strong>
      </div>
    </div>
  </aside>
</div>
{% endblock content %}